@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins SemiBold";
  src: url("../../assets/fonts/Poppins-SemiBold.ttf");
}
